<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="heading">
        <div class="menu">
            <button class="button">Preguntas</button>
            <button class="button">Sin responder</button>
            <button class="button">Usuarios</button>
        </div>

        <div class="logo"><img class="logo" src="/recursos/404iconp.png"></div>

        <div class="userInfo">
            <div class="avatar">
                <img class="img" src="/usuarios/imagenUsuario">
            </div>

            <div class="informacion">                
                <a class="user" href=" "><%=userMail%></a>
                <a class="logout" href="/logout"><p>Cerrar sesion</p></a> 
            </div> 
        </div>
    </div>
</body>

</html>