div.info{
    margin-bottom: 400px;
}

.boxFile{
    font-size:20px;
    margin-bottom:20px;
    padding:5px;
    height:20px;
    width:58%;
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 17px;
}