@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Grandstander', cursive;
    /* border: 1px solid red; */
}  

body{
    background-image: url("recursos/fondoGatosDifuminada.jpg");
    background-size: 50%;
    background-position: 50%;
    background-repeat: repeat;
}

h1 {
    color:white;
    font-weight: bold;
    font-size: 50px;
}

/*HEADER*/
div.heading {
    display: fixed;
    justify-content: space-between;
    width: 100%; /*ocupa toda la pantalla de largo*/
    height: 110px; /*poner px para que sea fijo, El % es para que cambie con el tamaño de la ventana*/
    background-color: rgb(219, 208, 201)
}

div.heading a { /*enlaces dentro de navegacion*/
    text-decoration: none;
    padding-bottom: 15px;
    color:#5f272c;
}

div.infoUser{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    position:absolute;
    top:5px;
    right:20px;
}

div.User{
    display: flex;
    flex-direction: column;
    padding-top:28px;
    padding-left:15px;
    text-align: center;
}

.boton:hover{ 
    color: #e8858e;
}

.imgUser{
    border-radius:50%;
    height:110px;
}

div.logo{
    padding-top: 15px;
    padding-left: 15px;
    font-size: 80px;
    color: #e8858e;
    text-shadow: -3px 3px #ffffff, -3px -3px #ffffff, 3px -3px #ffffff, 3px 3px #f3f3f2, 6px 6px #6ac7c2;
}

.imgTask{
    display:block;
    height:110px;
}

/*TAREAS*/
div.containerTasks{
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.elemento {
    background-color: #e8858e;
    border: solid #5f272c 5px;
    padding: 8px;
    margin:10px;
}

.elementoCross {
    text-decoration: line-through rgb(21, 56, 40);;
    background-color: rgba(117, 117, 117, 0.603);
    border: solid rgb(71, 71, 71) 2px;
    padding: 8px;
    margin:10px;
}

p.texto{
    display: inline;
    font-size: 30px;
    color:white;
    padding-top: 20px;
    padding-left: 5px;
    font-weight: 100;
}

.tag{
    padding: 4px;
    margin-left: 2%;
    font-size: 20px;
    color:white;
    border-radius: 10px 10px 10px 10px;
    background-color:  #973d45;
    border: 2px solid  #5f272c;
}

.botonFin{
    float: right;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    background-color: #b4e4e1ea;
    font-size: 16px;
}

.botonAdd{
    float: right;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
    margin-top: 12px;
    margin-right: 40px;
    text-align: center;
    font-size: 30px;
    background-color:  #e8858e;
}

div.AddTask{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color:  #5f272c;
}

div.WriteDiv {
    float: left;
    background-color: white;
    padding-right: 80%;
    padding-bottom: 5%;
}

.botonDelete{
    background-color:#5f272c;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px;
    font-size: 30px;
    color: white;
    text-align: center;
}
